/*Content First - Mobile First*/
    /*Reglas Generales*/
    *{
        box-sizing: border-box;
        font-family: 'century gothic', 'calibri', 'segoe ui', sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
    /*Clases especiales*/
    .logo{
        font-weight: bold;
        text-transform: uppercase;
    }
    .btn{
        cursor: pointer;
        margin: .5rem;
        border: .1rem solid #eee;
        color:#eee;
        background-color: transparent;
    }
    .btn:hover{
        color:#63c;
        background-color: #eee;
    }
    /*Navegacion*/
    nav{
        position: sticky;
        top: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(-45deg, #c36, #63c)
    }
    nav a{
        display: block;
        padding:.5rem;
        color:#eee;
        text-decoration: none;
    }
    .menu{
        max-height: 0;
        width: 100%;
        padding:0;
        list-style: none;
        overflow: hidden;
    }
    .menu.active{
        max-height: 600px;
    }
    .menu a:hover{
        background-color: #3338;
    }
    /*Colaboradores*/
    .colabs caption{
        border-radius: .25rem .25rem 0 0;
        background-color: #c36;
    }
    .colabs{
        margin: 0 auto 1rem;
        border-collapse: collapse;
        color:#eee;
        text-shadow: 0 0 .25rem #333;
        background: linear-gradient(#c36, #63c);
        box-shadow: -.5rem .5rem 1rem .5rem #666; /*-x+ -y+ blur color*/
    }
    .colabs caption,
    .colabs th,
    .colabs td{
        padding: .5rem;
    }
    .colabs tbody tr:nth-child(odd){background-color: #eee3;}
    .colabs tbody tr:nth-child(even){background-color: #9993;}
/*Medium devices - Tablets*/
    @media screen and (min-width: 768px){
        nav .btn{
            display: none   ;
        }
        .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
    }
/*Extra Large devices - HD Desktop*/
    @media screen and (min-width: 1200px){
        nav{
            justify-content: space-around;
        }
    }